[submodule "Blaze/vendor/spdlog"]
	path = Blaze/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Blaze/vendor/GLFW"]
	path = Blaze/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Blaze/vendor/imgui"]
	path = Blaze/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
